################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/SquareAndLine/v17/.suo
/.vs/SquareAndLine/FileContentIndex/682932ad-5bb0-444b-b554-eabf2092e465.vsidx
